body
{
    color:black;
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
margin: 0 auto;
padding: 0;

}

#cabecera   {
font-size: 30px;
background: blueviolet;
color: rgb(187, 236, 236);
box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 5);
padding: 3%;
text-align: center;

margin: 0 auto;
}

#cabecera #tagline
{
font-weight: normal;
font-size: 0.8em;
margin: auto;

}
#container
{
width: 40%;
padding: 1em;
text-align: justify;
border: 2px solid indianred ;
margin: 0;
}

#container h1
{
    color: lightseagreen;
    width: 60%;
    padding: 2em;
    text-align: center;
    font-family: monospace;
}
#container p
{

width: 70%;
padding: 1em;
text-align: left;
color: indigo;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

