body
{
    color: rgb(38, 255, 0);
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
margin: 0rem;
padding: 0ex;

}

#container
{
width: 70%;
padding: 1em;
text-align: justify;
border: 2px solid green ;
margin: 0;
}

#container p

{

width: 70%;
padding: 1em;
text-align: left;
color: indigo;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

